<nav class='nav ui top fixed menu'>
  <div class='nav_wrapper'>
    <a href='{{ site.url }}' class='nav_siteurl'>
      <div class='img_placeholder'>
        <img src="{{ site.theme_url }}/assets/img/dos_seal.svg">
      </div>
      <span href='/internav'>Interactive</span>
    </a>
    <div class='nav_right'>
      <div class='nav_join nav_join--mobile'>
        <p>Get in Touch</p>
      </div>
      {% if menu %}
      <ul class='nav_menu'>
        <span class='opaque_bg'></span>
        {% for item in menu %}
          {% set single_post = ( item.title == 'Learning' and is_single() == true ) ? "current_page" : "" %}          
          <li class='nav_menu_item'>
            <div class='nav_menu_item_title-wrapper {{ pagename == item.object_slug ? "current_page" : "" }} {{ single_post }}'>
              <a href="{{ item.url }}">{{ item.title }}</a>
              {% if item.children %}
                <span class='menuDropdown downArrow'></span>
              {% endif %}
            </div>
            {% if item.children %}              
              <ul class='nav_menu_submenu'>
                <span class='opaque_bg'></span>
                {% for child in item.children %}                  
                  <li class='nav_menu_submenu_item {{ pagename == child.object_slug ? "current_submenu_page" : "" }}'>                    
                    <a href="{{ child.url }}">{{ child.title }}</a>
                  </li>
                 {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        <li class='nav_join nav_join--desktop'>
          <p>Get in Touch</p>
        </li>
      </ul>
      {% endif %}
    </div>
    <div class='burger'>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class='ui form join'>
    	<span class='upArrow upArrow--joinForm'></span>
    	<div class='join_wrapper'>
    		<h4 class='join_intro'>
    			Let us know what questions or ideas<span class='text_break--joinForm'> you have about our programs!
    		</h4>
    		<div class='formidable_embed'>
    			 {{ formVar }}
    		</div>
    		<span class='close close--join_form'></span>
    	</div>
    </div>
  </div><!-- nav_wrapper -->
</nav>
