{% extends "base.twig" %}

{% block content %}
  <section class="hero hero--bg_img" data-responsive-background-image>    
    <img src="{{ header_url }}"
      sizes="{{ sizes }}"
      srcset="{{ srcset }}">
    <div class="hero-inner bottom_padd bottom_padd--thick_home">
      <div class="hero-content ui container">
        <h1 class="hero-h1">Interactive</h1>        
      </div>
    </div>
  </section>
  <section class="ui container title-overlay">    
    <h1 class='title-overlay_title'>{{ page_data.title.rendered }}</h1> 
    <div class='inner-container'>           
      <div class='home'>
        <section class='home_main'>          
          {{ page_data.content.rendered }}          
        </section>
      </div>
    </div>
  </section>
{% endblock %}