{% extends "base.twig" %}

{% block content %}
  <section class="hero hero--bg_img_home" data-responsive-background-image>    
    <img src={{ header_url }} sizes="{{ sizes }}" srcset="{{ srcset }}">
    <div class="hero-inner bottom_padd bottom_padd--thick_home">
      <div class="hero-content ui container">
        <h1 class="hero-h1">Interactive Hub</h1> 
        <p>Interactive is a global outreach team that works to connect the world through engaging web chats.</p>       
      </div>
    </div>
  </section>
  <section class="ui container title-overlay">     
    <div class='inner-container'>           
      <div class='home'>
        <section class='home_main'>          
          {{ page_data.content.rendered }}          
        </section>
      </div>
    </div>
  </section>
  <section class="home_resources">
    <h2 id="resources">Resources</h2>
    <p>Download and share tips and recommendations for hosting viewing parties.</p>
    <div class="home_resources array">
      {% for resource in resources %}
        <div class="home_resources array_item">
          <a href={{ resource.link }}>
            <div class="array_image_div">
              <img class="array_image" src={{ resource.image }}></img>
            </div>
          </a>
          <a href={{ resource.link }}><h4 class="home_resources array_text">{{ resource.title }}</h4></a>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class='home_contact'>
    <div class='home_contact feedback'>
      <p class='home_contact header'>Questions or Feedback?</p>
      <p class='home_contact home_contact--join join'>Get in Touch!</p>
    </div>
  </section>
  
{% endblock %}