{% extends 'base.twig' %}

{% block content %}

  <article class="iip-event-article">
    {% if thumbnail %}
    <div class="iip-event-hero">
      <figure class="iip-event-featured-image">
        <img src={{ thumbnail }} alt="" />
      </figure>
    </div>
    {% endif %}

    <h2>{{ title }}</h2>

    <section class="iip-event-meta-container">
      <div class="iip-event-meta">
        {% if ( no_date == 'tba' ) %}
          <p><strong>When: </strong>To Be Announced</p>
        {% elseif ( no_date != 'tba' and no_date != 'none' ) %}
          <p><strong>When:</strong> {{ date }}{{ end_date }}{{ time }}</p>
        {% endif %}

        {% for detail in details %}
          {% if ( detail.title and detail.link and detail.name ) %}
            <p><strong>{{ detail.title }}: </strong><a href={{ detail.link }} target="_blank">{{ detail.name }}</a></p>
          {% elseif ( detail.title and not detail.link and detail.name ) %}
            <p><strong>{{ detail.title }}: </strong>{{ detail.name }}</p>
          {% elseif ( detail.title and detail.link and not detail.name ) %}
            <p><a href={{ detail.link }} target="_blank"><strong>{{ detail.title }}</strong></a></p>
          {% elseif ( not detail.title and detail.link and detail.name ) %}
            <p><a href={{ detail.link }} target="_blank">{{ detail.name }}</a></p>
          {% elseif ( detail.title and not detail.link and not detail.name ) %}
            <p><strong>{{ detail.title }}</strong></p>
          {% elseif ( not detail.title and not detail.link and detail.name ) %}
            <p>{{ detail.name }}</p>
          {% elseif ( not detail.title and detail.link and not detail.name ) %}
            <p><a href={{ detail.link }} target="_blank">{{ detail.link }}</a></p>
          {% endif %}
        {% endfor %}
      </div>

      {% if ( no_date != 'tba' and no_date != 'none' ) %}
        <div class="iip-event-add-to-cal" id="iip-event-add-to-cal"></div>
      {% endif %}

    </section>

    {% if description %}
      <section class="iip-event-description">
        <h3 class="right-arrow">Description:</h3>
        <p>{{ description }}</p>
      </section>
    {% endif %}

    {% if speakers %}
      <section class="iip-event-speakers">
        <h3 class="right-arrow">Speakers:</h3>
        {% for speaker in speakers %}
          <div class="iip-event-speaker">
            {% if speaker.image %}
              <div class="iip-event-speaker-img" style="background-image: url({{ speaker.image[0].image }})"></div>
            {% endif %}
            <div>
              <strong>{{ speaker.name }}</strong><br />
              <strong>{{ speaker.title }}</strong>
              <p>{{ speaker.bio }}</p>
            </div>
          </div>
        {% endfor %}
      </section>
    {% endif %}

    {% if materials or files %}
      <h3 class="right-arrow">Promotional Materials:</h3>
      <section class="iip-event-materials">
        {% if materials %}
          {% for material in materials %}
          <a class="iip-event-material-button" href={{ material.link }} target="_blank">
            {{ material.label }}
          </a>
          {% endfor %}
        {% endif %}
      </section>
      {% if files %}
        <section class="iip-event-files">
          {% for file in files %}
            <a class="iip-event-file iip-event-overlay" href={{ file.url }} download={{ file.filename }} target="_blank">
              <div class="iip-event-overlay-base">
                <div
                  class="iip-event-file-img"
                  style="
                    background-image: url({{ file.image }});
                    background-size: {{ ( file.type == 'jpg' or file.type == 'jpeg' or file.type == 'png') ? 'cover' : 'contain' }};
                    margin-top: {{ ( file.type == 'jpg' or file.type == 'jpeg' or file.type == 'png') ? '0' : '5px' }};
                  ">
                </div>
                <p class="iip-event-file-label">
                  <strong>{{ file.filename }}</strong> ({{ file.type }})
                </p>
              </div>
              <div class="iip-event-overlay-hover">
                <i class="fa fa-3x fa-download iip-event-overlay-text"></i>
              </div>
            </a>
          {% endfor %}
        </section>
      {% endif %}
    {% endif %}

    {% if contact.name %}
      <section class="iip-event-contact">
        <strong>Questions about this event?</strong>
        <strong>Reach out to {{ contact.name }} {{ contact.method }} </strong>
      </section>
    {% endif %}
  </article>

{% endblock %}